:root {
  /* Fonts */
  --font-primary: 'Roboto', sans-serif;

  /* Color */
  --color-main: #2e2f42;
  --body-text: #434455;
  --color-bg: #f4f4fd;
  --color-button: #4d5ae5;
}
*img {
  display: block;
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: var(--font-primary);
  background-color: #fff;
  color: var(--body-text);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/**
  |============================
  | HEADER
  |============================
*/
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.navbar {
  display: flex;
  align-items: center;
  padding-right: auto;
  padding-top: 24px;
  padding-bottom: 23px;
}
.navbar-logo {
  font-family: 'Raleway', sans-serif;
  margin-right: 76px;
  font-weight: 800;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--color-button);
}
.header-span {
  color: var(--color-main);
}
.navbar-list {
  display: flex;
  gap: 40px;
}
.navbar-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.navbar-link:focus,
.navbar-link:hover {
  color: #404bbf;
}
.navbar-link:hover {
  border-bottom: solid #404bbf;
}
.contact {
  font-style: normal;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.contact-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}
.contact .link:focus,
.contact .link:hover {
  color: #404bbf;
}

/**
  |============================
  | HERO
  |============================
*/
.hero {
  padding: 188px 0;
  background-color: var(--color-main);
}
.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  padding-bottom: 44px;
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  margin: 0 auto;
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: #404bbf;
}

/**
  |============================
  | ABOUT
  |============================
*/
.about {
  padding: 120px 0;
}
.about-item {
  width: calc((100% - 3 * 24px) / 4);
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.about-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

/**
  |============================
  | SCOPE
  |============================
*/
.scope {
  padding-bottom: 120px;
}
.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-main);
}
.scope-list {
  display: flex;
  gap: 24px;
}
.scope-item {
  width: calc((100%-16px * 3) / 3);
}

/* TEAM */
.team {
  background-color: var(--color-bg);
}
.team-item {
  background-color: #fff;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

/* FOOTER */
.footer {
  background-color: var(--color-main);
  color: var(--color-bg);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-button);
}
.footer-logo span {
  color: var(--color-bg);
}

/* portfolio */
.menu-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-button);
  background-color: var(--color-bg);
  cursor: pointer;
}
.menu-btn:hover,
.menu-btn:focus {
  color: #fff;
  background-color: #404bbf;
}
.menu-btn-lisy {
  display: flex;
  grid-template: 24px;
  padding-top: 96px;
  padding-bottom: 72px;
  justify-content: center;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding-bottom: 120px;
}
.menu-list .list {
  list-style: none;
}
.menu-inner-list {
  width: calc((100%-48) / 3);
}
.menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
.menu-desc {
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}
